GROUP_ACCESS_TOKEN=token_vk_group

CONVERSATION_ID=2000000002
ADMINS_CONVERSATION_ID=2000000001

SPREADSHEET_ID=sheets_id
DATABASE_SHEET_NAME=sheets_name
DATABASE_SHEET_START_RANGE=1
DATABASE_SHEET_END_RANGE=500

